.body {
    height: 100%;
}

.back-bar {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: min(100% - 3rem, 80rem);
    height: 22vh;
}

.detail {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(min(100%,25rem),1fr)) ;
    color: white;
    width: min(100% - 3rem, 80rem);
    margin: 0 auto 0 auto;
    gap: 10rem;

    &__image {
        background-image: url('./../../images/de.svg');
        background-position: center;
        background-size: cover;
        height: 25rem;
    }

    &__text {
        //grid-row: 1;
        //grid-column: 2;
        //margin-left: -1rem;
        display: flex;
        flex-direction: column;
        height: 25rem;
    }

    &__name {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    &__stat {
        font-weight: bold;
    }

    &__stats-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        //grid-template: 1fr / repeat(2,1fr);
    }

    &__borders {
        margin-top: auto;
        margin-bottom: 3rem;
    }
}

.first-column {

    & p {
        margin: 1rem 0;
    }
}

.second-column {
}