.countries-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(auto-fill, minmax(min(100%,200px),1fr));
    gap: 4.5rem;
    width: min(100% - 7rem, 80rem);
    margin: 0 auto 0 auto;
    padding-left: 0;
    padding-bottom: 3rem;
}