.countries-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 4.5rem;
    width: min(100% - 5rem, 80rem);
    margin: 0 auto 0 auto;
    padding-left: 0;
    padding-bottom: 3rem;
}