.header {
    background-color:  var(--element-bg);
    height: 9.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);

    &__wrapper {
        width: min(100% - 3rem, 80rem);
        display: flex;
        justify-content: space-between;
    }
    
    &__title {
        margin: 0;
        
        font-size: 1.5rem;
    }

    &__toogle {
        //color: var(--text-color);
    }
}

