.country-card {
    color: var(--text-color);
    background-color: var(--element-bg);
    height: 21rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    
    &__image {
        border-radius: 0.3rem 0.3rem 0 0;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 10rem;
    }

    &__text {
        font-size: 0.8rem;
        padding: 2rem;
    }

    &__name {
        display: inline-block;
        font-size: 1rem;
        margin: 0 0 1rem 0;
        text-decoration: none;
        color: var(--text-color);
        font-weight: 700;
        //text-align: center;
    }

    &__attribute {
        margin: 0 0 0.5rem 0;
    }

    &__category {
        font-weight: bold;
    }
}
