.country-card {
    color: white;
    background-color: hsl(209, 23%, 22%);
    height: 21rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;

    &__image {
        border-radius: 0.3rem 0.3rem 0 0;
        background: url('./../../images/de.svg');
        background-size: cover;
        width: 100%;
        height: 10rem;
    }

    &__text {
        font-size: 0.8rem;
    }

    &__name {
        font-size: 1rem;
    }

    &__category {
        font-weight: bold;
    }
}
