.search-bar {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: min(100% - 3rem, 80rem);
    height: 9.5rem;

    &__text {
        height: 3rem;
        width: 25rem;
        border: none;
        border-radius: 0.25rem;
        background-color: var(--element-bg);
        background-image: url('./../../images/icons8-search-dark.png');
        background-repeat: no-repeat;
        background-size: 1.25rem 1.25rem;
        background-position: left 1.5rem top 50%;
        padding-left: 4.25rem;
        color: var(--text-color);

        &::placeholder {
            color: var(--text-color);
            opacity: 0.7;
        }
    }

    &__filter {
        height: 3rem;
        width: 12.5rem;
        border: none;
        border-radius: 0.25rem;
        background-color: var(--element-bg);
        color: var(--text-color);
        opacity: 0.7;
        box-sizing: border-box;
        padding: 1rem;
        appearance: none;
    }
}