$darkElementBg: hsl(209, 23%, 22%);
$darkBodyBg: hsl(207, 26%, 17%);

:root {
    --element-bg: #{$darkElementBg};
    --body-bg: #{$darkBodyBg};
    --text-color: white;
    --shadow: black;
}

$main-font: 'Nunito Sans', sans-serif;