@charset "UTF-8";
/* import order: 
    abstracts/
    vendors/
    base/
    layout/
    components/
    pages/
    themes/
*/
:root {
  --element-bg: hsl(209deg, 23%, 22%);
  --body-bg: hsl(207deg, 26%, 17%);
  --text-color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.body {
  font-size: 14px;
  background-color: var(--body-bg);
  height: 100vh;
  box-sizing: border-box;
  -ms-overflow-style: none;
}
.body::-webkit-scrollbar {
  display: none;
}

.header {
  background-color: var(--element-bg);
  height: 9.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
.header__wrapper {
  width: min(100% - 3rem, 80rem);
  display: flex;
  justify-content: space-between;
}
.header__title {
  margin: 0;
  font-size: 1.5rem;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.countries-grid {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(min(100%, 200px), 1fr));
  gap: 4.5rem;
  width: min(100% - 7rem, 80rem);
  margin: 0 auto 0 auto;
  padding-left: 0;
  padding-bottom: 3rem;
}

.back-bar {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: min(100% - 3rem, 80rem);
  height: 8rem;
}
@media screen and (min-width: 768px) {
  .back-bar {
    height: 22vh;
  }
}

.detail {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
  color: var(--text-color);
  width: min(100% - 3rem, 80rem);
  margin: 0 auto 0 auto;
  gap: 1rem;
}
@media screen and (min-width: 1300px) {
  .detail {
    gap: 10rem;
  }
}
.detail__image {
  background-position: center;
  background-size: 100% 100%;
  height: 15rem;
}
@media screen and (min-width: 500px) {
  .detail__image {
    height: 25rem;
  }
}
.detail__text {
  display: flex;
  flex-direction: column;
  height: 25rem;
}
.detail__name {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 768px) {
  .detail__name {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
}
.detail__stat {
  font-weight: bold;
}
.detail__stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .detail__stats-grid {
    gap: 0;
  }
}
.detail__borders-wrapper {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .detail__borders-wrapper {
    margin-top: auto;
  }
}
.detail__borders-list {
  box-sizing: border-box;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.detail__border {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--element-bg);
  text-align: center;
  padding: 0.5rem 0.75rem;
}

.first-column p {
  margin: 1rem 0;
}

.country-card {
  color: var(--text-color);
  background-color: var(--element-bg);
  height: 21rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}
.country-card__image {
  border-radius: 0.3rem 0.3rem 0 0;
  background-image: url("./../../images/de.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 10rem;
}
.country-card__text {
  font-size: 0.8rem;
  padding: 2rem;
}
.country-card__name {
  display: inline-block;
  font-size: 1rem;
  margin: 0 0 1rem 0;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
}
.country-card__attribute {
  margin: 0 0 0.5rem 0;
}
.country-card__category {
  font-weight: bold;
}

.search-bar {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: min(100% - 3rem, 80rem);
  height: 18vh;
}
.search-bar__text {
  height: 3rem;
  width: 29rem;
}
.search-bar__filter {
  height: 3rem;
  width: 12.5rem;
}/*# sourceMappingURL=main.css.map */